<div class="banner-text">
  <h2>Tolong tetaplah bahagia dan tetaplah baik-baik saja</h2>
</div>
<div class="animation-area">
  <ul class="box-area">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
