<div class="banner-text">
  <h3 class="welcome"><div id="word"></div></h3>
  <p class="situkangmasak">Dinda</h2>
  <h3><div id="time"></div></h3>
  <h3 class="text">Makasih ya doanya, kalo dari urang, Jangan share makanan terus dong Din,<br/> Urg tuh laper lagi, ntar urg gede dong badannya, ngeselin mane idupnya</h3>
</div>
<div class="animation-area">
  <ul class="box-area">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
